
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
build/
lib64-build/
example-vrising-internal/VRisingDump/il2cpp.h
xenon/includes/xenon/components/features/waypoints.hpp
example-sg-internal
xenon/includes/xenon/components/features/waypoints.hpp
docs/generated/html